@font-face {
  font-family: padyakke;
  src: url(./fonts/PadyakkeExpandedOne-Regular.ttf);
}

@font-face {
  font-family: stint;
  src: url(./fonts/StintUltraExpanded-Regular.ttf);
}

@font-face {
  font-family: hedvig;
  src: url(./fonts/HedvigLettersSans-Regular.ttf);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #001;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd8;
  /* border-radius: 10px; */
}

body {
  background-color: #001;
  font-family: hedvig;
  min-height: 110vh;
  color: #ddd;
}

/* HEADER */
h1 {
  font-family: stint;
  text-shadow: #bbb 2px 5px 15px;
  position: relative;
  letter-spacing: 4px;
  margin: 0;
}
#header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
  text-align: center;
  background: #001;
}

.hidden-burger {
  width: 25px;
  height: 25px;
  margin: 8px;
  display: none;
}

#header-wrapper + p {
  font-family: padyakke;
  position: relative;
  color: rgb(56, 240, 56);
  z-index: 3;
  text-align: center;
  background: #001;
}
#menu {
  width: 25px;
  height: 25px;
  margin: 8px;
}

#menu img {
  width: 100%;
}

.currentlyDisplaying {
  display: flex;
  position: relative;
  font-size: 1.2rem;
  background: #666;
  padding: 3px;
  z-index: 10;
}

.currentlyDisplaying > div {
  width: 50%;
  text-align: center;
}
.modal {
  transition: 0.5s;
  position: absolute;
  z-index: 2;
  width: 100vw;
  background: red;
}
.modalOff {
  top: -200px;
}

.modalOn {
  top: 100px;
}

.filterWrapper {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
}

.satListDropDown {
  position: relative;
}

.satListDropDown .filterList {
  position: absolute;
  display: none;
}

.current-group {
  position: relative;
}

.current-group:hover .filterList {
  display: block;
  margin: 0;
  list-style: none;
  width: 100px;

  z-index: 2;
}

/* SEARCH BOX */

input.searchBox {
  position: relative;
  font-size: 1.45rem;
  border-radius: 0;
  border: 1px red;
}
.dropList {
  position: absolute;

  top: 117px;
  width: 202px;
  text-align: center;
  max-height: 80vh;
  background: #3337;
  z-index: 2;
  overflow-y: auto;
}

/* GLOBE */
#globe .scene-container {
  display: block;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .hidden-burger {
    display: block;
  }
}
