body {
  background-color: #001;

  color: #fff;
}
h1 {
  /* margin: auto; */
}
#header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}
#menu {
  width: 20px;
  height: 20px;
}

#menu img {
  width: 100%;
}

#globe .scene-container {
  display: block;
  margin: 0 auto;
}
.satListDropDown {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.filterList {
  position: absolute;
  display: none;
}

.satListDropDown:hover .filterList {
  display: block;
  margin: 0;
  list-style: none;
  width: 100px;
  top: 0;
  z-index: 2;
  right: 0;
}
