body {
  background-color: #001;

  color: #fff;
}
h1 {
  margin: auto;
}
#header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}
#menu {
  width: 20px;
  height: 20px;
}

#menu img {
  width: 100%;
}

#globe .scene-container {
  display: block;
  margin: 0 auto;
}
